<a href="https://colab.research.google.com/github/jansoe/Lehre/blob/main/CodeExamples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
myvar = 'hello'

## Control Structures

### If-statement and intendation

The following code changes the value of myvar in the following ways
* all values smaller as 0 are changed to 0
* all values in the range [0, 5] are increased by 5
* for all values larger than 5, 2 is subtracted and the resulting value is doubled

In [ ]:
myvar2 = 4

if myvar2 < 0:
    myvar2 = 0
    print("var was smaller 0, now it is 0")
elif myvar2 < 5:
    myvar2 += 5
    print("var was smaller 5, now it is at least 5")
else:
    myvar2 -= 2
    myvar2 *= 2

print("var is now:", myvar2)

var was smaller 5, now it is at least 5
var is now: 9

#### Task
Write some code that sets
- all odd numbers to 0
- all even numbers which are divisible by 3
- and all other numbers to 1

### for-loop

In [ ]:
list_collection = [3,2,4,1]

sum = 0
for el in list_collection:
    sum += el
    print(el, sum)

3 3
2 5
4 9
1 10

In [ ]:
mystring = "this is a string"

counter_i = 0
for char in mystring:
    if char == 'i':
        counter_i +=1
print(counter_i)

3

##### Example 4

In [ ]:
mystring = "a string"

counter_i = 0
for char in mystring:
    if char == 'i':
        continue
    counter_i +=1

##### Example 5

In [ ]:
mystring = "a string"

counter_i = 0
for char in mystring:
    if char == 'i':
        break
    counter +=1
print(counter)