<a href="https://colab.research.google.com/github/jansoe/Lehre/blob/main/lecture_sheet_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting familiar with numpy

(1) Import the numpy library 
(under the abbreviation `np` to avoid too much typing)

(2) Create the following arrays:
- an array with 10 elemtents
  - with each element beeing 1
  - with the numbers 0-9
  - with the numbers 0, 3, 6, 9, 12,...
  - with the numbers 30, 40, 50, 60, ....
- a 2d array (matrix) of shape `(5,3)`, i.e. 5 rows and 3 columns
  - with each element beeing 0
  - with each element beeing 1, but with datatype `float64`
  - each element beeing a random integer between 0 and 100
  - each element beeing a random uniform distributed float between 0 and 1

(3) Create the following matrix using the `reshape`-method
```
  1  2  3  4
  5  6  7  8
  9 10 11 12
 13 14 15 16
```
and assign it to a variable named `m`

(4) obtain the following parts of the matrix m
- the bottom right element (`16`)
- the top right element (`4`)
- the 3rd row
- the 2nd column
- the last column in reverse order, i.e. `16, 12, 8, 4`

(5) Create an array with the numbers from 1-9. Then compute new arrays with
- all elements squared
- all elements raised to the power of 3

Finally create form these arrays a new matrix (`concatenate`) such that the first row contains the elements 1-9, the second row the squared numbers and the 3rd the numbers raised to the power of 3, e.g.
```
1  2  3 ...   9
1  4  9 ...  81
1  8 27 ... 729
```

(6) For the matrix `m`, calculate the mean value for each row and for each column.

(7) From matrix `m` create the matrix `m2`, such that the values of each row correspond to the row values of `m` but with the mean value of that row subtracted, i.e. centered around 0.

I.e. if there ia a row `1,2,3` in `m`, the mean is (1+2+3)/3 = 2. Then the new row in `m2` should be `-1,0,1`

(8) Create a `(100,50)` - matrix with random integers between 0 and 30. 
- How many of the elements are divisible by 3
- What is the mean value of all elements divisible by 3